* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    margin-bottom: 32px;
}

.max-width-wrapper {
    padding: 72px 0;
    width: 100%;
}

div.max-width-wrapper {
    background-color: hsl(0deg, 0%, 100%);
    min-height: 382px;
}

section.max-width-wrapper {
    background-color: hsl(0deg, 0%, 40%);
    border-top: 12px solid hsl(0deg, 0%, 60%);
    min-height: 450px;
}

.title {
    margin-top: 0;
    margin-bottom: 48px;
    font-size: 2rem;
}


.intro-chunk strong {
    color: hsl(160deg, 100%, 30%);
}

.intro-chunk p {
    min-width: 50%;
    max-width: 400px;
}


.intro-chunk,
.card {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 32px;

    max-width: 800px;
    min-width: 75%;

    font-size: 1.25rem;
    line-height: 1.5;

    background-color: hsl(0deg, 0%, 100%);
}

.card {
    border-bottom: 12px solid hsl(0deg, 0%, 60%);
}


.indented-heading {
    margin-top: -16px;
    margin-left: -48px;
    padding: 16px 48px;
    border-bottom: 12px solid hsl(45deg, 100%, 40%);
    
    width: max-content;
    width: fit-content;
    
    font-size: 1.5rem;
    line-height: 1.2;
    
    background-color: hsl(45deg, 100%, 50%);
}


/* 
Spacing

This app uses an 8px unit. All spaces are a multiple of 8px:

    8px
    16px
    24px
    32px
    48px
    64px
    96px
    128px

When it comes to max widths (e.g. the maximum width of the card), arbitrary values can be used.


Font

1 font is used in this project: Lato. It is already included in the stylesheet.

For font sizes, the rem unit should be used.

The scale is:

    1rem
    1.25rem
    1.5rem
    2rem

By default, 1rem is equivalent to 16px.


Color palette

Primary (green):

    hsl(160deg, 100%, 30%)

Secondary (gold):

    hsl(45deg, 100%, 50%) (lighter)
    hsl(45deg, 100%, 40%) (darker)

Grays:

    hsl(0deg, 0%, 0%) (black)
    hsl(0deg, 0%, 10%) (very dark)
    hsl(0deg, 0%, 30%) (dark)
    hsl(0deg, 0%, 40%) (medium)
    hsl(0deg, 0%, 60%) (light)
    hsl(0deg, 0%, 100%) (white)


*/
